* {
  margin: 0px;
  padding: 0px;
}
html {
  overflow-y: scroll;
  /* Always show a vertical scrollbar in Firefox, Chrome, Safari and Opera */
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: normal;
/*  src: local('Lobster'), url('/fonts/lobster-regular.ttf') format('truetype');*/
  src: local('Lobster'), url('http://themes.googleusercontent.com/font?kit=X-CahsKZZcJfSyZ_tX4ptg') format('truetype');
}
body {
	font: normal 95% helvetica, sans-serif;
	color: #000;
  background-color: #ececec;
}

body:after { 
  content: "."; 
  visibility: hidden; 
  display: block; 
  clear: both; 
  height: 0px; 
  font-size: 0px;
}

#column-a {
  position: relative;
  padding-top: 40px;
  float: right;
  z-index: -1;
}

#column-a-container {
  position: fixed;
  width: 1px;
}

#logo-box {
  float: right;
  background-color: #f8a185;
  color: #371003;
  font-family: 'Lobster', serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  letter-spacing: -0.05em;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 90px;
}

#column-b {
  position: relative;
  padding-top: 30px;
  width: 60%;
  float: right;
  overflow-x: hidden;
  z-index: 1;
}

.bar{
  width: 100%;
}
