* {
  margin: 0px;
  padding: 0px;
}
html {
  overflow-y: scroll;
  /* Always show a vertical scrollbar in Firefox, Chrome, Safari and Opera */
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: normal;
  src: local('Lobster'), url('/fonts/lobster-regular.ttf') format('truetype');
/*  src: local('Lobster'), url('http://themes.googleusercontent.com/font?kit=X-CahsKZZcJfSyZ_tX4ptg') format('truetype');*/
}
@font-face {
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: normal;
  src: local('Old Standard TT'), url('http://themes.googleusercontent.com/font?kit=n6RTCDcIPWSE8UNBa4k-DFFvkgauTbNF96NzJdlwv7E') format('truetype');
}
body {
	font: normal 95% helvetica, sans-serif;
	color: #000;
  background-color: #ececec;
}

body:after { 
  content: "."; 
  visibility: hidden; 
  display: block; 
  clear: both; 
  height: 0px; 
  font-size: 0px;
}

#column-a {
  padding-top: 40px;
  float: right;
  z-index: -1;
}

#column-a-container {
  position: fixed;
  width: 0px;
}

#logo-box {
  float: right;
  background-color: #fc781a;
  color: #5a2601;
  font-family: 'Lobster', sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  letter-spacing: -0.05em;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 90px;
}

.side-button {
/*  -webkit-user-select: none;
  -moz-user-select: none;
*/  float: right;
  text-align: right;
  font-family: 'Lobster', sans-serif;
  color: #8c3b02;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  letter-spacing: -0.05em;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 230px;
  color: #8c3b02;
  cursor: pointer;
}
.side-button:hover {
  color: #5a2601;
}
.side-button:active {
  color: #5a2601;
}

.info-box {
  -webkit-user-select: none;
  -moz-user-select: none;
  float: right;
  text-align: right;
  color: #5a2601;
  font-family: 'Lobster', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  letter-spacing: 0.00em;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 250px;
}

#column-b {
  position: relative;
  padding-top: 30px;
  border-left: 2px solid #fc781a;
  width: 60%;
  min-height: 420px;
  float: right;
  overflow-x: hidden;
  z-index: 1;
}

.bar {
  padding: 5px 5px 5px 15px !important;
  font-family: 'Lobster', sans-serif;
  font-size: 35px;
  cursor: pointer;
  width: 100%;
}
.bar input {
  margin-top: 5px;
  margin-left: 5px;
  font-family: 'Lobster', sans-serif;
  font-size: 30px;
  width: 90%;
  border: none;
  background: none;
}
.bar input:focus {
  border: none;
  background-color: none;
}
#add-bar {
  padding: 5px;
  font-family: 'Lobster', sans-serif;
  font-size: 20px;
  cursor: pointer;
}
#add-bar:hover {
  background-color: #808080 !important;
}
#add-bar:active {
  background-color: #808080 !important;
}
#logo-box-link {
  text-decoration: none;
}
#logo-box-link:visited {
  text-decoration: none;
}
#logo-box-link:hover {
  text-decoration: none;
}
#logo-box-link:active {
  text-decoration: none;
}